body {
  font-family: Mulish;
}

#dob_form {
  margin: 0 auto;
  padding: 3rem 4rem;
  width: 40%;
  min-width: 450px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: #e4f1ff;
  box-sizing: border-box;
}

.input-field {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.submit-btn {
  width: 40%;
  margin: 1rem 0;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #6499e9;
  color: #fff;
}

#dob_month {
  width: 50%;
}
